//
// auth.scss
//

.bg-login  {
  background: url("../images/bg-login.png");
  background-position: center;
  background-size: cover;
}

.bg-register {
  background: url("../images/bg-register.jpg");
  background-position: center;
  background-size: cover;
}
